In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import re
import numpy as np
data = pd.read_csv("/content/drive/MyDrive/sentiment /train.csv",encoding= 'unicode_escape')

In [ ]:
data

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26
...,...,...,...,...,...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,night,31-45,Ghana,31072940,227540.0,137
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,morning,46-60,Greece,10423054,128900.0,81
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,noon,60-70,Grenada,112523,340.0,331
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,night,70-100,Guatemala,17915568,107160.0,167
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,morning,0-20,Guinea,13132795,246000.0,53

In [ ]:
df = data[['text','sentiment']]

In [ ]:
df

                                                    text sentiment
0                    I`d have responded, if I were going   neutral
1          Sooo SAD I will miss you here in San Diego!!!  negative
2                              my boss is bullying me...  negative
3                         what interview! leave me alone  negative
4       Sons of ****, why couldn`t they put them on t...  negative
...                                                  ...       ...
27476   wish we could come see u on Denver  husband l...  negative
27477   I`ve wondered about rake to.  The client has ...  negative
27478   Yay good for both of you. Enjoy the break - y...  positive
27479                         But it was worth it  ****.  positive
27480     All this flirting going on - The ATG smiles...   neutral

[27481 rows x 2 columns]

In [ ]:
df.sentiment.value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [ ]:
df.describe()

                                        text sentiment
count                                  27480     27481
unique                                 27480         3
top      I`d have responded, if I were going   neutral
freq                                       1     11118

##### DATA CLEANING

In [ ]:
def remove_shortform_specialchar(text):
        text = re.sub(r"i'm", "i am", text)
        text = re.sub(r"he's", "he is", text)
        text = re.sub(r"she's", "she is", text)
        text = re.sub(r"that's", "that is", text)        
        text = re.sub(r"what's", "what is", text)
        text = re.sub(r"where's", "where is", text) 
        text = re.sub(r"\'ll", " will", text)  
        text = re.sub(r"\'ve", " have", text)  
        text = re.sub(r"\'re", " are", text)
        text = re.sub(r"\'d", " would", text)
        text = re.sub(r"\'ve", " have", text)
        text = re.sub(r"won't", "will not", text)
        text = re.sub(r"don't", "do not", text)
        text = re.sub(r"did't", "did not", text)
        text = re.sub(r"can't", "can not", text)
        text = re.sub(r"it's", "it is", text)
        text = re.sub(r"couldn't", "could not", text)
        text = re.sub(r"have't", "have not", text)
        
        return text

In [ ]:
def remove_special_char(text):
  text = re.sub(r"[,.\"!@#$%^&*(){}?/;`~:<>+=-]", "", text)
  return text

In [ ]:
import re
def remove_url(x):
    x = x.lower()
    pattern = re.compile('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
    x = pattern.sub('', x)
    return x

In [ ]:
from bs4 import BeautifulSoup
def remove_html(x):
  soup = BeautifulSoup(x,'lxml')
  return soup.get_text()

In [ ]:
def remove_emoji(x):        
        emoji = re.compile("["
                           u"\U0001F600-\U0001FFFF"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
        x = emoji.sub(r'', x)
        return x

In [ ]:
def remove_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
exceptionStopWords = {
    'again',
    'against',
    'ain',
    'almost',
    'among',
    'amongst',
    'amount',
    'anyhow',
    'anyway',
    'aren',
    "aren't",
    'below',
    'bottom',
    'but',
    'cannot',
    'couldn',
    "couldn't",
    'didn',
    "didn't",
    'doesn',
    "doesn't",
    'don',
    "don't",
    'done',
    'down',
    'except',
    'few',
    'hadn',
    "hadn't",
    'hasn',
    "hasn't",
    'haven',
    "haven't",
    'however',
    'isn',
    "isn't",
    'least',
    'mightn',
    "mightn't",
    'must',
    'mustn',
    "mustn't",
    'needn',
    "needn't",
    'neither',
    'never',
    'nevertheless',
    'no',
    'nobody',
    'none',
    'noone',
    'nor',
    'not',
    'nothing',
    'should',
    "should've",
    'shouldn',
    "shouldn't",
    'too',
    'top',
    'up',
    'wasn',
    "wasn't",
    'well',
    'weren',
    "weren't",
    'won',
    "won't",
    'wouldn',
    "wouldn't",
}
finalstop = stop_words-exceptionStopWords


# def remove_stopwords(reviews):
#     for review in reviews:
#       words = [w for w in review if not w in finalstop]
#       words = ' '.join(words)

In [ ]:
reviews = df['text']
reviews

0                      I`d have responded, if I were going
1            Sooo SAD I will miss you here in San Diego!!!
2                                my boss is bullying me...
3                           what interview! leave me alone
4         Sons of ****, why couldn`t they put them on t...
                               ...
27476     wish we could come see u on Denver  husband l...
27477     I`ve wondered about rake to.  The client has ...
27478     Yay good for both of you. Enjoy the break - y...
27479                           But it was worth it  ****.
27480       All this flirting going on - The ATG smiles...
Name: text, Length: 27481, dtype: object

In [ ]:
review_list = []
for review in reviews:
  review = str(review).lower()
  review = remove_special_char(str(review))
  review = remove_shortform_specialchar(review)
  review = remove_emoji(review)
  review = remove_square_brackets(review)
  review_list.append(review)

In [ ]:
df['clean_text'] = pd.Series(review_list)

<ipython-input-302-f16f2046f57d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = pd.Series(review_list)

In [ ]:
df

,text,sentiment,clean_text
0,"I`d have responded, if I were going",neutral,id have responded if i were going
1,Sooo SAD I will miss you here in San Diego!!!,negative,sooo sad i will miss you here in san diego
2,my boss is bullying me...,negative,my boss is bullying me
3,what interview! leave me alone,negative,what interview leave me alone
4,"Sons of ****, why couldn`t they put them on t...",negative,sons of why couldnt they put them on the rel...
...,...,...,...
27476,wish we could come see u on Denver husband l...,negative,wish we could come see u on denver husband l...
27477,I`ve wondered about rake to. The client has ...,negative,ive wondered about rake to the client has ma...
27478,Yay good for both of you. Enjoy the break - y...,positive,yay good for both of you enjoy the break you...
27479,But it was worth it ****.,positive,but it was worth it
27480,All this flirting going on - The ATG smiles...,neutral,all this flirting going on the atg smiles ...

##### Tokenisation

In [ ]:
from nltk.tokenize import  word_tokenize 
nltk.download('punkt')
tokenizer = word_tokenize(str(reviews))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
df['clean_text'] = df['clean_text'].str.lower().astype(str)
df['tokens'] = df['clean_text'].apply(nltk.word_tokenize)

df['filtered_tokens'] = df['tokens'].apply(lambda x: [word for word in x if word not in finalstop])

<ipython-input-305-2145ebd6ed3b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].str.lower().astype(str)
<ipython-input-305-2145ebd6ed3b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokens'] = df['clean_text'].apply(nltk.word_tokenize)
<ipython-input-305-2145ebd6ed3b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['filtered_tokens'] = df['tokens'].apply(lambda x: [word for word in x if word not in finalstop])

In [ ]:
df = df[['text','clean_text','tokens','filtered_tokens','sentiment']]
df

,text,clean_text,tokens,filtered_tokens,sentiment
0,"I`d have responded, if I were going",id have responded if i were going,"[id, have, responded, if, i, were, going]","[id, responded, going]",neutral
1,Sooo SAD I will miss you here in San Diego!!!,sooo sad i will miss you here in san diego,"[sooo, sad, i, will, miss, you, here, in, san,...","[sooo, sad, miss, san, diego]",negative
2,my boss is bullying me...,my boss is bullying me,"[my, boss, is, bullying, me]","[boss, bullying]",negative
3,what interview! leave me alone,what interview leave me alone,"[what, interview, leave, me, alone]","[interview, leave, alone]",negative
4,"Sons of ****, why couldn`t they put them on t...",sons of why couldnt they put them on the rel...,"[sons, of, why, couldnt, they, put, them, on, ...","[sons, couldnt, put, releases, already, bought]",negative
...,...,...,...,...,...
27476,wish we could come see u on Denver husband l...,wish we could come see u on denver husband l...,"[wish, we, could, come, see, u, on, denver, hu...","[wish, could, come, see, u, denver, husband, l...",negative
27477,I`ve wondered about rake to. The client has ...,ive wondered about rake to the client has ma...,"[ive, wondered, about, rake, to, the, client, ...","[ive, wondered, rake, client, made, clear, net...",negative
27478,Yay good for both of you. Enjoy the break - y...,yay good for both of you enjoy the break you...,"[yay, good, for, both, of, you, enjoy, the, br...","[yay, good, enjoy, break, probably, need, hect...",positive
27479,But it was worth it ****.,but it was worth it,"[but, it, was, worth, it]","[but, worth]",positive
27480,All this flirting going on - The ATG smiles...,all this flirting going on the atg smiles ...,"[all, this, flirting, going, on, the, atg, smi...","[flirting, going, atg, smiles, yay, hugs]",neutral

##### Lemmatisation

In [ ]:
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
lemmatizer = WordNetLemmatizer()

def get_wordnet_pos(word):
    """Map POS tag to first character used by WordNetLemmatizer"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

df['lemmas'] = df['filtered_tokens'].apply(lambda x: [lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in x])

<ipython-input-309-ed2c5796a79f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lemmas'] = df['filtered_tokens'].apply(lambda x: [lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in x])

In [ ]:
list1 = []
for i in df['lemmas']:
  i = ' '.join(i)
  list1.append(i)
df['Reviews'] = list1

<ipython-input-310-0a3b713b3ed0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Reviews'] = list1

In [ ]:
df = df[['text','clean_text','lemmas','Reviews','sentiment']]

,text,clean_text,lemmas,Reviews,sentiment
0,"I`d have responded, if I were going",id have responded if i were going,"[id, respond, go]",id respond go,neutral
1,Sooo SAD I will miss you here in San Diego!!!,sooo sad i will miss you here in san diego,"[sooo, sad, miss, san, diego]",sooo sad miss san diego,negative
2,my boss is bullying me...,my boss is bullying me,"[bos, bullying]",bos bullying,negative
3,what interview! leave me alone,what interview leave me alone,"[interview, leave, alone]",interview leave alone,negative
4,"Sons of ****, why couldn`t they put them on t...",sons of why couldnt they put them on the rel...,"[son, couldnt, put, release, already, bought]",son couldnt put release already bought,negative
...,...,...,...,...,...
27476,wish we could come see u on Denver husband l...,wish we could come see u on denver husband l...,"[wish, could, come, see, u, denver, husband, l...",wish could come see u denver husband lose job ...,negative
27477,I`ve wondered about rake to. The client has ...,ive wondered about rake to the client has ma...,"[ive, wonder, rake, client, make, clear, net, ...",ive wonder rake client make clear net dont for...,negative
27478,Yay good for both of you. Enjoy the break - y...,yay good for both of you enjoy the break you...,"[yay, good, enjoy, break, probably, need, hect...",yay good enjoy break probably need hectic week...,positive
27479,But it was worth it ****.,but it was worth it,"[but, worth]",but worth,positive
27480,All this flirting going on - The ATG smiles...,all this flirting going on the atg smiles ...,"[flirt, go, atg, smile, yay, hug]",flirt go atg smile yay hug,neutral

## Sentiment Analysis
#### VADER SENTIMENT SCORING

- This uses a "Bag of Words" apporach:
  1. Stop words are removed 
  2. each word is scored and combined to a total scores

In [ ]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:

from nltk.sentiment import SentimentIntensityAnalyzer 
from tqdm.notebook import tqdm
sia = SentimentIntensityAnalyzer()

In [ ]:
def vaderAnalysis(review):
  vs = sia.polarity_scores(review)
  return vs['compound']

df['Sentiment'] = df['Reviews'].apply(vaderAnalysis)

# function to analyse

def vader_analysis(compound):
  if compound >= 0.5:
    return 'Positive'
  elif compound < 0 :
    return 'Negative'
  else:
    return 'Neutral'

df['Analysis'] = df['Sentiment'].apply(vader_analysis)

<ipython-input-314-b8e2c5ca3ff6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sentiment'] = df['Reviews'].apply(vaderAnalysis)

,text,clean_text,lemmas,Reviews,sentiment,Sentiment,Analysis
0,"I`d have responded, if I were going",id have responded if i were going,"[id, respond, go]",id respond go,neutral,0.0000,Neutral
1,Sooo SAD I will miss you here in San Diego!!!,sooo sad i will miss you here in san diego,"[sooo, sad, miss, san, diego]",sooo sad miss san diego,negative,-0.5719,Negative
2,my boss is bullying me...,my boss is bullying me,"[bos, bullying]",bos bullying,negative,-0.5994,Negative
3,what interview! leave me alone,what interview leave me alone,"[interview, leave, alone]",interview leave alone,negative,-0.2960,Negative
4,"Sons of ****, why couldn`t they put them on t...",sons of why couldnt they put them on the rel...,"[son, couldnt, put, release, already, bought]",son couldnt put release already bought,negative,0.0000,Neutral

In [ ]:
from sklearn.metrics import accuracy_score,classification_report

In [ ]:
df['Analysis'] = df['Analysis'].map({'Neutral':0,'Positive':1,'Negative':-1})

In [ ]:
df['sentiment'] = df['sentiment'].map({'neutral':0,'positive':1,'negative':-1})

In [ ]:
accuracy_score(df['sentiment'],df['Analysis'])

0.6393508242058149

In [ ]:
print(classification_report(df['sentiment'],df['Analysis']))

              precision    recall  f1-score   support

          -1       0.66      0.61      0.64      7781
           0       0.58      0.69      0.63     11118
           1       0.73      0.59      0.65      8582

    accuracy                           0.64     27481
   macro avg       0.66      0.63      0.64     27481
weighted avg       0.65      0.64      0.64     27481